.var-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
  }
  
  .green {
    background-color: green;
    color: white;
  }
  
  .red {
    background-color: red;
    color: white;
  }
  
  .blue {
    background-color: blue;
    color: white;
  }
  